/* normalization styles */
*,
*:before,
*:after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

*:before,
*:after {
     content: '';
     display: block;
     position: absolute;
}

html,
body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
}

/* theme styles */
html {
     /* Primary */
     --p-color: #344955;
     --pd-color: #232F34;
     --pdd-color: rgb(22, 29, 32);
     --pl-color: #4A6572;
     --pll-color: rgb(110, 140, 155);
     --on-p-color: #e8eef1;
     --on-pd-color: rgb(202, 213, 218);
     --on-pdd-color: rgb(202, 213, 218);
     --on-pl-color: rgb(187, 187, 187);
     --on-pll-color: rgb(255, 255, 255);

     /* Accent */
     --a-color: #F9AA33;
     --ad-color: #E89313;
     --add-color: rgb(194, 123, 18);
     --al-color: #FFCA55;
     --all-color : rgb(253, 215, 133);
     --on-a-color: rgb(32, 31, 30);
     --on-ad-color: rgb(2, 2, 2);
     --on-add-color: rgb(0, 0, 0);
     --on-al-color: rgb(37, 34, 27);
     --on-al-color: rgb(58, 54, 47);

     /* Semantic */
     --success-color:rgb(92, 216, 133);
     --warning-color:rgb(238, 133, 91);
     --error-color:rgb(250, 52, 26);
     --on-success-color:rgb(28, 29, 28);
     --on-warning-color:rgb(53, 48, 46);
     --on-error-color:rgb(248, 240, 239);

     /* Neutral */
     --n-color:rgb(105, 109, 110);
     --nd-color:rgb(71, 74, 75);
     --nl-color:rgb(173, 179, 180);

     /* Background */
     --b-color:rgb(255, 255, 255);
     --s-color:rgb(248, 240, 239);


     /* Data */
     --cat-1-color:#2F8DFA;
     --cat-2-color:#1FD0BF;
     --cat-3-color:#EB648B;
     --cat-4-color:#F8C753;
     --cat-5-color:#EB7E30;
     --cat-6-color:#A93790;
     --cat-7-color:#049587;
     --cat-8-color:#1553B6;
     --cat-9-color:#55008C;
     --cat-10-color:#8B572A;

     --seq-1-color:#DCEDC8;
     --seq-2-color:#B2DDCC;
     --seq-3-color:#75C6D1;
     --seq-4-color:#42B3D5;
     --seq-5-color:#3993C2;
     --seq-6-color:#3073AE;
     --seq-7-color:#27539B;
     --seq-8-color:#1E3388;
     --seq-9-color:#171E6D;
     --seq-10-color:#10154C;

     --cat-1-color:#D5001A;
     --cat-2-color:#FF6A00;
     --cat-3-color:#B30949;
     --cat-4-color:#FFD972;
     --cat-5-color:#FFF5DA;
     --cat-6-color:#74135B;
     --cat-7-color:#B2DDCC;
     --cat-8-color:#42B3D5;
     --cat-9-color:#27539B;
     --cat-10-color:#182276;

    /* Typography */
    /* Font families */
    --font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* Font sizes */
    --font-size-xxs: .75rem;
    --font-size-xs: .8125rem;
    --font-size-s: .875rem;
    --font-size-m: 1rem;
    --font-size-l: 1.125rem;
    --font-size-xl: 1.375rem;
    --font-size-xxl: 1.75rem;
    --font-size-xxxl: 2.5rem;
    /* Line heights */
    --line-height-xs: 1.25;
    --line-height-s: 1.375;
    --line-height-m: 1.625;

    /* mv-header */
    --mv-header-background: #373E48;
    --mv-header-height: 66px;
    --mv-header-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
    --mv-header-margin-left: 0;
    --mv-header-margin-right: 0;
    --mv-header-margin-bottom: 1px;
    --mv-header-item-padding: 10px;
    --mv-header-item-color: #B0B3B6;

    /* mv-footer */
    --mv-footer-height: 40px;
    --mv-footer-background: #F3F3F3;
    --mv-footer-shadow: 0 5px 10px 0 rgba(7,17,26,0.2);
    --mv-footer-margin-top: 1px;
    --mv-footer-margin-left: 0;
    --mv-footer-margin-right: 0;
    --mv-footer-item-padding: 10px;
    --mv-footer-item-color: #B0B3B6;

    /* mv-menu */
    --mv-dropdown-level-width: 265px;
    --mv-dropdown-level-height: 95px;
    --mv-dropdown-sublevel-width: 198px;
    --mv-dropdown-sublevel-height: 41px;
    --mv-dropdown-background-color: #3F4753;
    --mv-dropdown-hover-background-color: #353F4D;
    --mv-dropdown-sublevel-position-top: 100px;
    --mv-dropdown-sublevel-position-left: 0px;
    --mv-notification-sublevel-height: 400px;
    --mv-notification-sublevel-width: 756px;
    --mv-notification-level-size: 48px;
    --mv-notification-button-background-color: #3F4753;
    --mv-notification-button-hover-background-color: #353F4D;
    --mv-notification-title-color: #FFFFFF;
    --mv-notification-background-color: #3F4753;
    --mv-notification-sublevel-position-top: 80px;
    --mv-notification-sublevel-position-left: -375px;

    /* mv-menu-panel */
    --mv-menu-panel-width: 330px;
    --mv-menu-panel-header-height: 66px;
    --mv-menu-panel-header-color: #FFFFFF;
    --mv-menu-panel-header-background: linear-gradient(45deg, rgba(232, 179, 56, 1) 0%, rgba(255, 150, 0, 1) 100%);
    --mv-menu-panel-item-color: #FFFFFF;
    --mv-menu-panel-item-height: 40px;
    --mv-menu-panel-item-padding: 20px;
    --mv-menu-panel-background: linear-gradient(180deg, rgba(63, 71, 83, 1) 0%, rgba(26, 30, 35, 1) 100%);
    --mv-menu-panel-shadow: 0 0 16px 1px rgba(151, 156, 163, 0.35);
    --mv-menu-panel-selected-highlight: rgba(26, 30, 35, 0.6);
    --mv-menu-panel-disabled-color: #898C91;
    --mv-menu-panel-hover-color: #00D8FF;
    --mv-menu-panel-hover-background: rgba(26, 30, 35, 0.4);

    /* mv-button */
    --mv-button-circle-button-size: 55px;
    --mv-button-margin: 5px;
    --mv-button-padding: 16px 59px;
    --mv-button-min-width: 120px;
    --mv-button-rounded-radius: 50px;

    /* mv-table */
    --table-row-height: 66px;
    --header-font-family: Arial;

    /* mv-pagination */
    --pagination-group-top-margin: 10px;
    --pagination-button-font-weight: normal;
    --pagination-button-font-weight-large: bold;

    /* mv-toggle */
    --mv-toggle-label-font-family: var(--font-family);
    --mv-toggle-custom-size: 100px;
    --mv-toggle-not-checked: #CCCCCC;
    --mv-toggle-checked: #48c9c4;
    --mv-slider-color: #3F4753;

    /* mv-tooltip */
    --mv-tooltip-font-family: var(--font-family);
    --mv-tooltip-height: 39px;
    --mv-tooltip-background: #363F4C;
    --mv-tooltip-color: #FFFFFF;
    --mv-tooltip-border-radius: 5px;

    /* mv-tab */
    --mv-tab-header-height: 71px;
    --mv-tab-header-background-color: #DFE7EE;
    --mv-tab-header-background-color-active: radial-gradient(circle , #007adf 0%, #00ec76 180%);
    --mv-tab-header-first-background-color-active: linear-gradient(to right, #007adf 0%, #00ec76 180%);
    --mv-tab-header-last-background-color-active: linear-gradient(to left, #007adf 0%, #00ec76 180%);
    --mv-tab-header-color: #67AFD3;
    --mv-tab-header-color-active: #FFFFFF;
    --mv-tab-header-border-color: #99D2E7;
    --mv-tab-header-border-radius: 5px;
    --mv-tab-rounded-height: 51px;
    --mv-tab-rounded-background-color: #FFFFFF;
    --mv-tab-rounded-background-color-active: #4E686D;
    --mv-tab-rounded-color: #4E686D;
    --mv-tab-rounded-color-active: #FFFFFF;
    --mv-tab-rounded-border-radius: 25px;
    --mv-tab-icon-size: 29px;
    --mv-tab-icon-background-color: #FFFFFF;
    --mv-tab-icon-color: #4E686D;
    --mv-tab-icon-background-color-active: #4E686D;
    --mv-tab-icon-color-active: #FFFFFF;
    --mv-tab-icon-border-radius: 5px;

    /* mv-select */
    --mv-select-font-family: var(--font-family);
    --mv-select-color: #777;
    --mv-select-width: 200px;
    --mv-select-input-padding: 4px;
    --mv-select-border: 1px solid #ccc;
    --mv-select-border-radius: 5px;
    --mv-select-dropdown-icon-size: calc(var(--font-size-m) * 0.75);
    --mv-select-dropdown-icon-button-color: var(--mv-select-color);
    --mv-select-option-color: var(--mv-select-color);
    --mv-select-option-background: #FFFFFF;
    --mv-select-option-hover-background: #1D9BC9;
    --mv-select-option-hover-color: #FFFFFF;

    /* mv-dialog */
    --mv-dialog-max-height: 528px;
    --mv-dialog-width: 756px;
    --mv-dialog-background-color: #FFFFFF;
    --mv-dialog-border-radius: 5px;
    --mv-dialog-color-close-icon: #48C5B9;
    --mv-dialog-color: #80828C;

    /* mv-breadcrumbs */
    --mv-breadcrumbs-color: #4F4F4F;
    --mv-breadcrumbs-link-decoration: underline;
    --mv-breadcrumbs-hover-color: #B8CCE0;
    --mv-breadcrumbs-separator-margin: 0 10px;

    /* mv-container */
    --mv-container-min-width: 300px;
    --mv-container-max-width: 500px;
    --mv-container-margin: 20px auto;
    --mv-container-padding: 20px;
    --mv-container-border: 1px solid #BFBFBF;
    --mv-container-background: #FFFFFF;
    --mv-container-shadow: 10px 10px 5px #aaaaaa;

    /* mv-calendar */
    --mv-calendar-input-background-color: #FFFFFF;
    --mv-calendar-input-border-input: solid 1px #4E686D;
    --mv-calendar-input-width: 100%;
    --mv-calendar-single-background-color: #3F4753;
    --mv-calendar-single-button-background-color: #39404B;
    --mv-calendar-hover-background-color: #666;
    --mv-calendar-active-background-color: linear-gradient(to right, #007ADF 0%, #00ECBC 180%);
}
